.skills-card {
  background-color: #444445;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(100, 255, 218, 0.1);
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, border-color 0.3s;
}

.skills-card:hover {
  transform: translateY(-5px);
  border-color: #64ffda;
}

.skill-icon {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #23b5f3;
}

.skills-card:hover .skill-icon {
  color: #64ffda;
}

.skills-card p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ccd6f6;
}

@media (max-width: 768px) {
  .skills-card {
    padding: 10px;
  }

  .skill-icon {
    font-size: 1.8rem;
  }

  .skills-card p {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .skills-card {
    padding: 8px;
  }

  .skill-icon {
    font-size: 1.5rem;
  }

  .skills-card p {
    font-size: 1rem;
  }
}
