body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}
.scroll-container {
  height: 100vh;
  overflow-y: auto;
}

.header-section {
  padding: 0px 35px;
  padding-top: 10px;
  background-color: #000000;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
}

.section-title {
  font-size: 48px;
  color: #64ffda;
  border-bottom: 3px solid;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

@media screen and (max-width: 980px) {
  .section-title {
    width: 80%;
  }
}

@media screen and (max-width: 575px) {
  .section-title {
    width: 95%;
  }
}
