.projects-section {
  padding: 20px;
  background-color: #000000;
  color: #ccd6f6;
  text-align: left;
}

.projects-list {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  gap: 20px; /* Space between project cards */
}

.project-card {
  background-color: #444445;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(100, 255, 218, 0.1);
  border-radius: 10px;
  transition: transform 0.3s, border-color 0.3s;
  position: relative;
  width: calc(33.333% - 20px); /* Adjust width for 3 projects in a row */
  box-sizing: border-box; /* Include padding and border in width */
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: #64ffda;
}

.project-image {
  width: 100%; /* Full width of the card */
  max-height: 150px; /* Set a max height to keep images uniform */
  object-fit: cover; /* Maintain aspect ratio while covering the space */
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-title {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0 0 10px 0;
}

.project-description {
  color: #a5a5a5;
  margin: 0 0 15px 0;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0;
}

.tech-tag {
  background-color: #64ffda;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.project-links {
  display: flex;
  gap: 10px;
}

.project-link {
  display: flex;
  align-items: center;
  text-decoration: none; /* Removes underline */
  color: #64ffda;
  font-size: 1rem;
}

.project-link:hover {
  color: #23b5f3; /* Change color on hover */
}

.project-link i {
  margin-right: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .project-card {
    width: calc(
      50% - 20px
    ); /* Adjust for 2 projects in a row on medium screens */
  }
}

@media (max-width: 480px) {
  .project-card {
    width: 100%; /* Stack on small screens */
  }
}
