/* start apply styles to <header> */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
header {
  padding: 10px 35px;
  background-color: #d5f2ea;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid #0663df;
}

header h1 {
  padding: 10px 15px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  font-size: 30px;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }
}
