.about-section {
  padding: 0 20px;
  padding-bottom: 50px;
  background-color: #000000;
  font-family: "Arial", sans-serif;
  border-bottom: 0.5px solid #444445;
}

.about-container {
  max-width: 1000px;
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  flex: 1;
  text-align: left; /* Aligns the image to the left */
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.content-container {
  flex: 2;
  max-width: 600px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: white;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #ccd6f6;
}

a {
  color: #6d8ef0;
  text-decoration: none;
  border-bottom: 1px solid #6d8ef0;
}

a:hover {
  color: #daf06d;
  border-bottom: 1px solid #daf06d;
}

.contact-link {
  display: inline-block;
  font-size: 1rem;
  margin-top: 10px;
  color: #6d8ef0;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .content-container {
    max-width: 100%;
  }
}
