.card {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #444445;
  border-radius: 8px;
  background-color: #1e1e1e;
  position: relative;
  font-family: "Arial", sans-serif;
}
.card-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: none;
}

.card-header a {
  border: none;
}

.role {
  font-size: 1.25rem;
  color: #64ffda;
  position: absolute;
  right: 20px;
  top: 20px;
}

.companey-description {
  font-size: 15px;
  color: #ccd6f6;
}

.responsibility {
  font-size: 15px;
  color: #8892b0;
}

.card-content {
  padding-bottom: 30px;
}

.card-title a {
  font-size: 24px;
  color: #4cd4b3;
  margin: 0;
}

.card-action {
  background-color: rgba(100, 255, 218, 0.1);
  padding: 10px 0;
  padding-left: 10px;
  border-top: 1px solid #444445;
}

.card-action span {
  font-size: 85%;
  color: #ccd6f6;
}

.card ul {
  margin-bottom: 0;
}

.card ul li {
  line-height: 1.6;
  list-style-type: disc;
  margin-left: 24px;
  color: #ccd6f6;
}

.card img.responsive-img {
  max-height: 60px;
  margin-right: 10px;
  border: none;
}

@media (max-width: 600px) {
  .role {
    position: static;
    font-size: 1rem;
    text-align: right;
    margin-top: 10px;
  }

  .card-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .card img.responsive-img {
    max-height: 50px;
    margin-bottom: 10px;
  }

  .card-title {
    font-size: 20px;
  }
}
