.card {
  margin-bottom: 60px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #666565;
  position: relative;
}
.card-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #f0e6e6;
}

.card-header a {
  border: none;
}

.role {
  font-size: 1.25rem;
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 20px;
}

.companey-description {
  font-size: 15px;
  color: #dfe2ef;
}

.responsibility {
  font-size: 15px;
  color: #ffffff;
}

.card-content {
  padding-bottom: 30px;
}

.card-content p {
  margin: 5px 0;
}

.companey-details {
  padding-top: 10px;
}

.card-title a {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
}

.card-action {
  background-color: #3d3c3c;
  padding: 10px 0;
  padding-left: 10px;
  border-top: 1px solid #ddd;
}

.card-action span {
  font-size: 85%;
  color: #e5e2e2;
}

.card ul {
  margin-bottom: 0;
}

.card ul li {
  line-height: 1.6;
  list-style-type: disc;
  margin-left: 24px;
}

.card ul li li {
  color: #666;
  font-size: 13px;
}

.card img.responsive-img {
  max-height: 60px;
  margin-right: 10px;
  border: none; /* Removed the border under the logo */
}

.col.s12.m2,
.col.s12.m10 {
  padding: 0;
}

.col.s12.m2 {
  flex: 0 0 auto;
}

.col.s12.m10 {
  flex: 1;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .role {
    position: static;
    font-size: 1rem;
    text-align: right;
    margin-top: 10px;
  }

  .card-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .card img.responsive-img {
    max-height: 50px;
    margin-bottom: 10px;
  }

  .card-title {
    font-size: 20px;
  }
}
